.attack-log {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: rgb(198, 198, 198) solid 2px;
  border-radius: 10px;

  overflow-y: scroll;
  height: 100%;
  align-self: flex-start;
}

.attack-log-item {
  padding-inline: 8px;
  padding-block: 8px;
  margin-block: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  place-items: center; /* https://zenn.dev/tonkotsuboy_com/articles/css-grid-centering */
  border-bottom: rgb(198, 198, 198) solid 2px;

  .type-icon-img {
    width: 90px;
    flex-direction: row;
    row-gap: 0;
    column-gap: 15px;

    .text {
      font-size: 18px;
      font-weight: normal;
    }
  }
}
